:root{
    --vermelho: #E41B15;
    --vermelho70: rgba(228, 27, 21, 0.70);
    --branco: #FFFFFF;
    --branco50: rgba(255, 255, 255, 0.50);
    
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--branco);
}

header{
    background-color: var(--vermelho);
}

main {
    margin-bottom: 120px;
}

.btn {
    background-color: var(--vermelho);
    color: var(--branco);
    border-color: 1px solid var(--branco);
}

.btn:hover {
    background-color: var(--branco);
    color: var(--vermelho);
    border-color: 1px solid var(--branco);
}

.btn:active, .btn:focus, .btn:active:focus {
    background-color: var(--vermelho) !important;
    color: var(--branco) !important;
    border-color: 1px solid var(--branco) !important;
}

nav .form-control {
    background-color: var(--vermelho);
    color: var(--branco);
    border: 1px solid var(--branco);
}

nav .form-control:focus {
    background-color: var(--vermelho) !important;
    color: var(--branco) !important;
    border: 1px solid var(--branco) !important;
    box-shadow: none !important;
}

a .bi {
    color: var(--branco);
}

a .bi:hover {
    color: var(--branco50);
}


footer {
    background-color: var(--vermelho);
    color: var(--branco);
}

.carousel-caption {
    background-color: var(--vermelho70);
    color: var(--branco);
    border-radius: 100px;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.div-carousel {
  aspect-ratio: 16/9;
}

.div-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}