body {
    background-color: bisque;
    margin: 20px;
    font-family: 'Lucida Sans', sans-serif; /*essa letra ou qualquer uma sem serifas*/
}

h1 {
    text-shadow: 0px 0px 10px black;
    color: white;
}

p {
    text-shadow: 0px 0px 10px greenyellow;
}

.cesae-img{
  width: 50%;
}

header {
    text-align: center; 
}

.link-site {
    color: white;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin: 10px;
}

nav {
    background-color: grey;
    padding: 5px;
    margin: 10px;
}

nav img:hover{
   background-color: aliceblue;
}


P {
    justify-content: center;  
}
