

#form-email {
    background-color: greenyellow;
    /*border: 10px solid blue;*/
    border-width: 5px 5px 10px 2px;
    border-radius: 20px 10px 50px 10px;
    border-color: blue green red grey;
    border-style: dotted solid double dotted;
}